body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom, #a7d8f7, #fdf6e3);
    color: #333;
    padding: 0px 5px;
}

h1 {
    text-align: center;
    color: #136568; 
} 

h2 {
    text-align: center;
    color: #d79634; 
}

h1 {
    margin-top: 20px;
    font-size: 2.5rem;
}

h2 {
    margin-bottom: 15px;
}
