.PostGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: 20px auto;
}

section {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg,
            rgba(255, 250, 240, 0.95),
            rgba(224, 245, 255, 0.9));
    padding: 15px;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.cardContent {
    flex: 1;
}

section:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #ff8c33;
    margin-top: 0;
}

p {
    margin: 5px 0;
}

.statusTextContainer {
    min-height: 28px;
    display: flex;
    align-items: center;
}


.todoStatusText {
    font-size: large;
    font-weight: 600;
    color: #ff8c33;
}

.buttonContainer {
    height: 40px;
    display: flex;
    gap: 6px;
    align-items: center;
    margin-top: auto;
}

.PostGrid button {
    background-color: #2199cc;
}

.PostGrid button:hover {
    background-color: #0362a1;
}